<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="category-list">
    <ion-row class="ion-align-items-start">
      <ion-col size="6">
        <div>
          <img src="/assets/categories/covers.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/covers.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/covers.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/mugs.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/mugs.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/mugs.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/mugs.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <img src="/assets/categories/mugs.webp" />
          <h6>Covers</h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
